@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Roboto:wght@100;300;400;500&family=Rubik:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  font-family: 'Roboto';
  letter-spacing: 0.5px;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.searchInput {
  width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  color: black;
  font-size: medium;
  font-weight: 400;
  /* background: #FAFAFA; */
  background: white;
}

.searchInput::placeholder {
  color: black;
  opacity: 0.4;
  font-size: medium;
  font-weight: 400;
}

.searchButton {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-content: center;
  /* background: #FF851B; */
  background: linear-gradient(145deg, rgba(249,15,216), 
                                        rgba(245,67,119), 
                                        rgba(252,28,28), 
                                        rgba(255,195,13), 
                                        rgba(114,251,89));
  background-size: 500%;
  background-position: top left;
  /* animation: color 10s ease-in-out infinite; */
  transition: 0.3s;
}

.searchButton:hover {
  scale: 1.1;
}

@keyframes color {
  0% {
      background-position: top left;
  }
  50% {
      background-position: bottom right;
  }
  100% {
      background-position: top left;
  }
}
